.btn {
  display: inline-block;
  background-color: #e0e0e0;
  color: #3f3f3f;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 6px;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;

  border: 0;
  padding: 8px 16px;

  transition: all 0.25s;

  &:hover,
  &:focus {
    background: #aeaeae;
  }

  &_disable-shadow {
    box-shadow: none;
  }

  &_outline {
    padding: 8px 20px;
    color: #3e5bfe;
    border: 1px solid #3e5bfe;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: hsla(224, 100%, 58%, 0.1);
    }
  }
  &_text {
    padding: 8px 20px;
    color: #3e5bfe;
    border: none;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: rgba(41, 98, 255, 0.1);
    }

    &.btn_disabled {
      background-color: transparent;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
  &_disabled {
    background: #e0e0e0;
    color: #9e9e9e;
    user-select: none;
    cursor: not-allowed;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: #e0e0e0;
    }
  }
  &_primary {
    background-color: #2962ff;
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: #0039cb;
    }
  }
  &_secondary {
    background-color: #455a64;
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: #1c313a;
    }
  }
  &_danger {
    background-color: #d32f2f;
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: #9a0007;
    }
  }

  &_sm {
    padding: 6px 12px;
  }
  &_md {
    padding: 8px 16px;
  }
  &_lg {
    padding: 11px 22px;
  }
}
