.input {
  color: #333333;
  display: block;
  border: 1px solid #828282;
  border-radius: 8px;
  max-width: 200px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &::placeholder {
    font-family: "Noto Sans JP";
    @include font(14px, 20px);

    color: #828282;
  }

  &:hover {
    border-color: #333333;
  }

  &:focus {
    outline: none;
    border-color: #2962ff;
    transition: border-color 0.2s;
  }

  &_error {
    border-color: #d32f2f;

    ~ .input__helper-text {
      color: #d32f2f;
    }

    &:focus {
      border-color: #d32f2f;
    }

    &:hover ~ .input__helper-text {
      color: #333333;
      transition: color 0.2s;
    }

    &:focus ~ .input__helper-text {
      color: #d32f2f;
      transition: color 0.2s;
    }
  }
  &_disabled {
    background-color: #f2f2f2;
    border-color: #e0e0e0;
    cursor: not-allowed;

    &:hover {
      border-color: #e0e0e0;
    }
  }
  &_multiline {
    overflow: auto;
    resize: vertical;
    transition: none;
  }
  &_full-width {
    width: 100%;
    max-width: 100%;
  }
  &__helper-text {
    font-family: "Noto Sans JP";
    @include font(10px, 14px, 400);

    color: #828282;
  }
  &_md {
    padding: 18px 12px;
  }
  &_sm {
    padding: 10px 12px;
  }
  &_md.input_with-icon_both {
    padding: 18px 42px;
  }
  &_md.input_with-icon_start {
    padding: 18px 12px 18px 42px;
  }
  &_md.input_with-icon_end {
    padding: 18px 42px 18px 12px;
  }
  &_sm.input_with-icon_both {
    padding: 10px 42px;
  }
  &_sm.input_with-icon_start {
    padding: 10px 12px 10px 42px;
  }
  &_sm.input_with-icon_end {
    padding: 10px 42px 10px 12px;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input_focused {
  border-color: #2962ff;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input_focused-error {
  border-color: #d32f2f;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input-label {
  font-family: "Noto Sans JP";
  @include font(12px, 17px, 400);
  order: 0;
  &_focused {
    color: #2962ff;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &_focused-error {
    color: #d32f2f;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &_error-hover {
    color: #333333;
  }
  &_error {
    color: #d32f2f;
  }
}

.icons-container {
  order: 1;
}

.input__helper-text {
  order: 3;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &_error {
    color: #d32f2f;
  }
  &_error-hover {
    color: #828282;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &_error-focus {
    color: #d32f2f;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

// ICONS

.icons-container {
  position: relative;
  width: fit-content;
  &_full-width {
    width: 100%;
  }
}

.input-icon {
  position: absolute;
  top: calc(50% - 10px);

  svg {
    max-width: 20px;
    max-height: 20px;
    fill: #828282;
  }

  &_start {
    left: 12px;
  }

  &_end {
    right: 12px;
  }
  &_password {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: transparent;
    svg {
      fill: #828282;
    }
    cursor: pointer;
  }
}
