.menu-wrapper {
  position: fixed;
  max-width: 237px;
  min-width: 237px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 237px;
  min-width: 237px;
  max-height: 100vh;
  height: 100vh;
  color: #5f5f5f;
  padding: 100px 0 100px 20%;
  overflow: auto;

  &__header {
    position: relative;
    padding-bottom: 10px;
    color: #00000073;
    font-size: 15px;
  }

  &__header::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      right: 0;
      top: 0;
      background-color: transparent;
      transition: background-color 0.1s;
    }

    &:hover::after {
      background-color: #f7542e;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 10px 0;
    transition: color 0.15s;

    &:hover {
      color: hsl(0, 0%, 42%);
    }
  }
}
