@mixin font($size, $height: $size, $weight: 500, $style: normal) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin media-extra-large {
  @media (min-width: $extra-large-width) {
    @content;
  }
}

@mixin media-laptop {
  @media (min-width: $content-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}
