.text {
  font-family: "Ubuntu Mono";
  letter-spacing: 0em;
  @include font($size: 12px, $weight: 400);

  &_highlighted-red {
    color: #f7542e;
  }
}

.header {
  &__text {
    font-family: Poppins;
    letter-spacing: 0em;
    @include font($size: 13px, $weight: 600, $height: 20px);
  }
}

.menu {
  font-family: "Noto Sans JP";
  @include font(14px, 20px, 500);

  &__header {
    font-weight: 400;
  }
}

.typography {
  &__title {
    &_h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      margin-top: 8px;
      margin-bottom: 20px;
    }
    &_h2 {
      font-family: "Poppins";
      font-style: normal;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      margin-top: 8px;
      margin-bottom: 20px;
    }
  }
  &__paragraph {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 1em 0;
  }
  &__text {
    &_code {
      display: inline-block;
      margin: 0 1px;
      padding: 0.2em 0.4em;
      font-size: 0.9em;
      background: #f2f4f5;
      border: 1px solid rgba(0, 0, 0, 0.06);
      border-radius: 3px;
    }
  }
}
